<div class="ps-site-features">
  <div class="container">
    <div class="ps-block--site-features ps-block--site-features-2">
      <div class="ps-block__item">
        <div class="ps-block__left"><i class="icon-rocket"></i></div>
        <div class="ps-block__right">
          <h4>Envio Gratis</h4>
          <p>Aplica para pedidos superores a $100.000</p>
        </div>
      </div>

      <div class="ps-block__item">
        <div class="ps-block__left"><i class="icon-sync"></i></div>
        <div class="ps-block__right">
          <h4>5 Dias de Regerso</h4>
          <p>Si los bienes tienen problemas</p>
        </div>
      </div>

      <div class="ps-block__item">
        <div class="ps-block__left"><i class="icon-credit-card"></i></div>
        <div class="ps-block__right">
          <h4>Pago Seguro</h4>
          <p>100% pago serguro</p>
        </div>
      </div>

      <div class="ps-block__item">
        <div class="ps-block__left"><i class="icon-bubbles"></i></div>
        <div class="ps-block__right">
          <h4>Diponibilidad 24/7</h4>
          <p>Soporte dedicado</p>
        </div>
      </div>
    </div>
  </div>
</div>
